<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    <form action="/signup" method="post">
        <input type="text" name="name" placeholder="Name"><br>
        <input type="email" name="email" required placeholder="email"><br>
        <input type="password" name="password" required placeholder="password"><br>
        <input type="submit">
    </form>
</body>
</html>